*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main input{
    width: 50ch;
    height: 30px;
    padding: 1rem;
}

.buttons{
    margin-left: 1.5rem;
}

.inputbtn{
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
}

#root{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px solid red ;
    height: 300px;
    width: 200px;
    margin: 1rem;
}